@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oufit", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}

a{
    text-decoration: none;
    color: inherit;
}

 

