@import "leaflet/dist/leaflet.css";

html, body {
    background-image: url("./assets/white-background.jpg");
    background: linear-gradient(110deg, #3a186b 40%, #383593 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}